<!DOCTYPE html> 
<html xmlns:th="http://www.thymeleaf.org"> 
<head> 
<meta charset="UTF-8"> 
<title>Insert title here</title> 

<style>
body{
  font-family: Arial, sans-serif;
            background-color: pink;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            height: 100vh;
            margin: 0;
}
</style>
</head> 
<body> 
   <h1>LoggedIn Successful</h1> 
    welcome to the homepage :-   <h2 th:text="${name}" /> 
</body> 
</html>
